.edu-container {
  position: relative;
  min-height: 100vh;
  background: transparent; 
  overflow: hidden;
  padding: 80px 20px;
  display: flex;
  flex-direction: column;
  gap: 60px; 
  font-family: 'Segoe UI', sans-serif;
}


.wave-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 280px;
  background: url("https://www.svgrepo.com/show/19527/wave.svg") no-repeat bottom;
  background-size: cover;
  opacity: 0.1; 
  animation: waveFloat 6s ease-in-out infinite alternate;
  pointer-events: none;
}

@keyframes waveFloat {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50px); }
}


.edu-card h3, .edu-card h4 {
  color: #ffffff;  
  margin-bottom: 10px; 
  font-weight: 600;
}
.edu-card p, .edu-card span {
  color: #e92f9c; 
  font-size: 0.95rem;
  line-height: 1.5;
}
.edu-icon, .info-icon {
  font-size: 2.5rem;
  color: #e7e559; 
  margin-bottom: 15px;
  animation: float 3s ease-in-out infinite;
}
.edu-text, .personal-text {
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
  z-index: 1;
}

.edu-text h2, .personal-text h2 {
  font-size: 2.5rem;
  color: #fff; 
  font-weight: 700;
  text-shadow: 0 0 10px rgba(214, 197, 44, 0.5);
  margin-top: 40px;
}

.edu-text p, .personal-text p {
  color: #ebba53; 
  font-size: 1.1rem;
  margin-top: 10px;
}


.edu-cards, .personal-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  z-index: 1;
}

.edu-card, .personal-card {

  background: rgba(53, 5, 19, 0.6); 
  border: 2px solid   rgba(233, 190, 48, 0.2);
  border-radius: 20px;
  padding: 30px;
  width: 300px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  animation: fadeInUp 0.8s ease forwards;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  color: #e2e8f0; 
}

.edu-card h3, .personal-card h3 {
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
}
.personal-card p, 
.personal-card span {
  color: #f0d14a !important;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 10px;
}
.edu-card:hover, .personal-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 35px rgba(236, 201, 43, 0.4);
  border-color: #9e780f;
}


.edu-icon, .info-icon {
  font-size: 2.5rem;
  color: #e6ab53;
  margin-bottom: 15px;
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-8px); }
}

