
.split-parent {
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
}


.split-line {
  overflow: hidden;
  width: 100%;
}


.split-word {
  display: inline-block;
  white-space: nowrap; 
}

.split-char {
  display: inline-block;
  transform-origin: 50% 100%; 
  will-change: transform, opacity;
  backface-visibility: hidden;
}